/* Defaults that define how elements should look in all occurrences */
:root {
	font-size: var(--font-size);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	color: var(--clr-black);
	scroll-behavior: smooth;
}

body {
	background-color: var(--clr-black);
	font-family: var(--font-freight);
	height: 100vh;
	letter-spacing: 0.031rem;
	line-height: var(--line-height);
	margin: 0;
	min-width: 320px;
}

a {
	color: var(--clr-gold);
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-gibson);
	font-weight: 700;
	letter-spacing: 0.025em;
	line-height: 1.3;
	margin: 3rem 0 1.38rem;
	text-rendering: optimizeLegibility;
	text-transform: uppercase;
}

h1 {
	font-size: 5.61rem; /* Perfect 4th scale 1.333 ratio - 89.76px */
	margin-top: 0;
}

h2 {
	font-size: 4.209rem; /* Perfect 4th scale 1.333 ratio - 67.34px */
}

h3 {
	font-size: 3.157rem; /* Perfect 4th scale 1.333 ratio - 50.52px */
}

h4 {
	font-size: 2.369rem; /* Perfect 4th scale 1.333 ratio - 37.90px */
	letter-spacing: normal;
}

p {
	font-size: 1rem;
	line-height: inherit;
	margin: 0 0 1rem;
	max-width: 60ch;
}

ul {
	padding: 0;
}