/* Defines how the reusable and modular components (e.g. navigation bars, carousels, dialogs and widgets) are layed out on the page */
@import url(components/header.css);
@import url(components/card.css);
@import url(components/aside.css);
@import url(components/article.css);
@import url(components/footer.css);

.homepage {
	background-color: var(--clr-black); 
}

.homepage::before {
	animation: scale-in 0.7s 0.45s var(--timing-page-load) forwards;
	background-attachment: fixed, fixed;
	background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url("../images/bg.jpg");
	background-position: top left, center center;
	background-repeat: repeat, no-repeat;
	background-size: auto, cover;
	content: '';
	display: block;
	height: 100vh;
	left: 0;
	min-width: 320px;
	opacity: 0;
	position: fixed;
	top: 0;
	transform: scale3d(1.05, 1.05, 1);
	width: 100vw;
	z-index: -1;
}

.skip-link {
	align-items: center;
	background-color: var(--clr-white);
	border-radius: 50%;
	box-shadow: none;
	display: flex;
	flex-flow: column nowrap;
	height: 3rem;
	justify-content: center;
	padding: 0.75rem;
	position: absolute;
	overflow: hidden;
	transition: box-shadow 0.3s var(--timing-skip-link), background-color 0.1s linear;
	width: 3rem;
	z-index: 1000; }
	.skip-link:hover {
		background-color: transparent;
		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.16); }

.skip-link::after {
	background-color: var(--clr-black);
	border-radius: 50%;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	transform: scale3d(0, 0, 0);
	transition: all 0.3s var(--timing-skip-link);
	top: 0;
	width: 100%; }
	.skip-link:hover::after {
		transform: scale3d(1, 1, 1); }

.skip-link--top {
	animation: fade-in-up 1s 1.25s var(--timing-page-load) forwards;
	bottom: 5vh;
	left: 50vw;
	margin-left: -1.5rem;
	opacity: 0;
}

.skip-link--bottom {
	bottom: 5vh;
	position: fixed;
	right: 5vw;
	transform: translate3d(0, 300px, 0);
}

.icon--chevron-up,
.icon--chevron-down {
	background: none;
	fill: var(--clr-black);
	transition: fill var(--timing-skip-link);
	z-index: 1; }
	.skip-link:hover .icon--chevron-up,
	.skip-link:hover .icon--chevron-down {
		fill: var(--clr-white); }

.skip-link--top:hover .icon--chevron-down {
	animation: slide-down-back 0.60s 0.25s var(--timing-skip-link);
}

.skip-link--bottom:hover .icon--chevron-up {
	animation: slide-up-back 0.60s 0.25s var(--timing-skip-link);
}

.author-avatar {
	border-radius: 50%;
	height: 72px;
	width: 72px;
}

.author,
.date,
.read-time {
	font-family: var(--font-tertiary);
}

.author {
	font-weight: 500;
	text-transform: uppercase;
}

.date,
.read-time {
	color: var(--clr-grey);
}

/* Utility Classes */
.button {
	background-color: var(--clr-gold);
	color: var(--clr-blue);
	display: inline-block;
	font-family: var(--font-tertiary);
	font-size: var(--step--1);
	font-weight: 500;
	letter-spacing: 0.1rem;
	padding: 1rem 1.5rem 0.75rem;
	transition: all 0.45s var(--timing-button);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase; }
	.button:hover {
		background-color: var(--clr-gold-light); }

.container {
	/* Does not use shorthand so the padding top and bottom of the elements it is applied to is not overwritten due to the cascade. */
	padding-left: 5vw;
	padding-right: 5vw;
}

.slide-in {
	animation: slide-in 0.6s cubic-bezier(0.230, 1, 0.32, 1) forwards;
}

.slide-out {
	animation: slide-out 0.45s cubic-bezier(0.755, 0.05, 0.855, 0.06) forwards;
}

.sr-only {
	border: 0;
	clip: rect(0,0,0,0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.text--small {
	font-size: calc(0.5625rem + 0.5vw); }
	@supports (font-size: clamp(1rem, 1rem + 7vw, 1rem)) {
		.text--small {
			font-size: var(--step--1); } }

.text--smallest {
	font-size: calc(0.4213rem + 0.3767vw); }
	@supports (font-size: clamp(1rem, 1rem + 7vw, 1rem)) {
		.text--smallest {
			font-size: var(--step--2); } }

/* Support for those with Vestibular disorders */
@media all and (prefers-reduced-motion: reduce) {
	.homepage::before,
	.skip-link--top,
	.logo,
	.nav,
	.intro {
		animation-name: fade-in;
	}

	.skip-link--top,
	.logo,
	.nav,
	.intro {
		animation-delay: 1s;
	}

	.skip-link--top:hover .icon--chevron-down,
	.skip-link--bottom:hover .icon--chevron-up {
		animation-name: none;
	}
}