/* Divides the page into sections and defines how major components are layed out on the page */
/* Header */
.header {
	align-items: start;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	justify-items: center;
	row-gap: var(--space-3); }
	@media all and (min-width: 750px) {
		.header {
			align-items: center;
			grid-template-columns: 1fr 1fr;
			row-gap: var(--space-2);
		}

		.homepage .header {
			grid-template-areas:
			"logo nav"
			"intro intro";
		}

		.logo {
			justify-self: start;
		}

		.homepage .logo {
			grid-area: logo;
		}

		.nav {
			justify-self: end;
		}

		.homepage .nav {
			grid-area: nav;
		}

		.intro {
			justify-self: start;
		}

		.homepage .intro {
			grid-area: intro; } }

.nav {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

/* Card */
.card {
	display: flex;
	flex-flow: column nowrap; }
	@media all and (min-width: 1000px) {
		.card {
			flex-direction: row; } }

.card-content {
	align-content: center;
	align-items: center;
	display: grid;
	grid-auto-rows: min-content;
	grid-template-columns: repeat(8, 1fr); }
	@media all and (min-width: 1000px) {
		.card-content {
			flex-basis: 50vw;
		}

		.card--alt .card-content {
			order: 2; } }

.card-title {
	grid-column: 2/span 6;
	grid-row: 1/2;
}

.card .metadata {
	align-items: center;
	column-gap: 5px;
	display: grid;
	grid-column: 2/span 6;
	grid-row: 2/span 3;
	grid-template-columns: 72px 1fr;
}

.card .author-avatar {
	grid-column: 1/2;
	grid-row: 1/span 3;
}

.card .author {
	grid-column: 2/3;
	grid-row: 1/2;
}

.card .date {
	grid-column: 2/3;
	grid-row: 2/3;
}

.card .read-time {
	grid-column: 2/3;
	grid-row: 3/4;
}

.card-teaser {
	grid-column: 2/span 6;
	grid-row: 5/6;
}

.card .stats {
	grid-column: 2/span 4;
	grid-row: 6/7;
}

.card-cta {
	grid-column: 1/span 8;
	grid-row: 7/8; }
	@media all and (min-width: 450px) {
		.card-cta {
			grid-column: 2/span 3; } }

.card-thumbnail {
	order: -1; }
	@media all and (min-width: 1000px) {
		.card-thumbnail {
			flex-basis: 50vw;
			order: unset; } }

/* Article */
.article .metadata {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
}

.breadcrumbs {
	align-content: center;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.breadcrumb {
	align-content: center;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.breadcrumb-icon.fa-chevron-left,
.breadcrumb-icon.fa-chevron-right {
	display: none;
}

@media all and (min-width: 650px) {
	.breadcrumbs {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}

	.breadcrumb {
		display: grid;
		flex-basis: 50%;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(2, auto);
		justify-items: center;
	}

	.breadcrumb-icon.fa-chevron-left,
	.breadcrumb-icon.fa-chevron-right {
		display: unset; 
	}

	.breadcrumb--previous .breadcrumb-icon {
		place-self: center;
		grid-column: 1/span 1;
		grid-row: 1/span 2;
	}

	.breadcrumb--previous .breadcrumb-type {
		grid-column: 2/span 4;
		grid-row: 1/span 1;
		justify-self: start;
	}

	.breadcrumb--previous .breadcrumb-title {
		grid-column: 2/span 4;
		grid-row: 2/span 1;
		justify-self: start;
	}

	.breadcrumb--next .breadcrumb-icon {
		place-self: center;
		grid-column: 5/span 1;
		grid-row: 1/span 2;
	}

	.breadcrumb--next .breadcrumb-type {
		grid-column: 1/span 4;
		grid-row: 1/span 1;
		justify-self: end;
	}

	.breadcrumb--next .breadcrumb-title {
		grid-column: 1/span 4;
		grid-row: 2/span 1;
		justify-self: end;
	}
}

/* Aside */
.subscribe {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	justify-items: center;
}

.subscribe-title,
.subscribe-cta,
.subscribe-form,
.quote {
	grid-column: 2/span 6; }
	@media all and (min-width: 1100px) {
		.subscribe-title,
		.subscribe-cta,
		.subscribe-form,
		.quote {
			grid-column: 3/span 4; } }

.subscribe-title {
	grid-row: 1/2;
}

.subscribe-cta {
	grid-row: 2/3;
}

.subscribe-form {
	grid-row: 3/4;
}

.quote {
	grid-row: 5/6;
}

/* Footer */
.footer {
	align-items: flex-start;
	display: flex;
	flex-flow: row wrap; }
	@media all and (max-width: 500px) {
		.main-footer {
			align-items: flex-start;
			flex-flow: column nowrap; } }