/* Main rules - Links all style sheets and defines global custom properties */
@import "base.css";
@import "module.css";
@import "layout.css";

:root {
	/* Color */
	--clr-link: #eab75c;
	--clr-link-visited: #d1a252;
	--clr-font-primary: #13181b;
	--clr-font-secondary: #283339;
	--clr-font-alternative: #f2f2f2;
	--clr-highlight: #949494;
	--clr-highlight-secondary: #757575;

	/* Spacing */
	--space1: 0.25rem;
	--space2: 0.5rem;
	--space3: 1rem;
	--space4: 1.5rem;
	--space5: 2rem;
	--space6: 3rem;
	--space7: 4rem;
	--space8: 8rem;

	/* Typography */
	--font-primary: "Montserrat", sans-serif;/* Body */
	--font-secondary: "Anton", sans-serif; /* Header */
	--line-height: 1.75;

	/* Animation Timing Functions*/
	--nav-link-timing: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	--page-load-timing: cubic-bezier(0.6, 0.14, 0.25, 1);
	--skip-link-timing: cubic-bezier(0.55, 0, 0.1, 1);
}

/* Animations */
@keyframes down-back {
	from {
		transform: translate3d(0, 0, 0);
	}

	60% {
		transform: translate3d(0, 60px, 0);
		opacity: 0;
	}

	61% {
		transform: translate3d(0, -60px, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fade-in-up {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes scale-in {
	from {
		opacity: 0;
		transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

@keyframes slide-in {
	from {
		transform: translate3d(0, 300px, 0) scaleY(2.5) scaleX(0.2) scaleZ(1);
		transform-origin: 50% 100%;
		filter: blur(40px);
		opacity: 0;
	}

	to {
		transform: translate3d(0, 0, 0) scaleY(1) scaleX(1) scaleZ(1);
		transform-origin: 50% 50%;
		filter: blur(0);
		opacity: 1;
	}
}

@keyframes slide-out {
	from {
		transform: translate3d(0, 0, 0) scaleY(1) scaleX(1) scaleZ(1);
		transform-origin: 50% 50%;
		filter: blur(0);
		opacity: 1;
	}

	to {
		transform: translate3d(0, 300px, 0) scaleY(2) scaleX(0.2) scaleZ(1);
		transform-origin: 50% 100%;
		filter: blur(40px);
		opacity: 0;
	}
}

@keyframes up-back {
	from {
		transform: translate3d(0, 0, 0);
	}

	60% {
		transform: translate3d(0, -60px, 0);
		opacity: 0;
	}

	61% {
		transform: translate3d(0, 60px, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}