/* Module - Defines how modules (e.g. navigation bars, carousels, dialogs and widgets) are layed out on the page*/
#homepage::before {
	animation: scale-in 0.7s 0.45s var(--page-load-timing) forwards;
	background-attachment: fixed, fixed;
	background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url("../images/bg.jpg");
	background-position: top left, center center;
	background-repeat: repeat, no-repeat;
	background-size: auto, cover;
	content: '';
	display: block;
	height: 100vh;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transform: scale(1.05);
	width: 100vw;
	z-index: -1;
}

.skip-link {
	align-items: center;
	background-color: var(--clr-font-alternative);
	border-radius: 50%;
	box-shadow: none;
	display: flex;
	flex-flow: column nowrap;
	height: 3rem;
	justify-content: center;
	padding: 0.75rem;
	position: absolute;
	overflow: hidden;
	transition: box-shadow 0.3s var(--skip-link-timing), background-color 0.1s linear;
	width: 3rem;
	z-index: 1000; }
	.skip-link:hover {
		background-color: transparent;
		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.16);
	}

.skip-link::after {
	background-color: var(--clr-font-primary);
	border-radius: 50%;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	transform: scale3d(0, 0, 0);
	transition: all 0.3s var(--skip-link-timing);
	top: 0;
	width: 100%; }
	.skip-link:hover::after {
		transform: scale3d(1, 1, 1); }

.skip-link.top {
	animation: fade-in-up 1s 1.25s var(--page-load-timing) forwards;
	bottom: 5vh;
	left: 50vw;
	margin-left: -1.5rem;
	opacity: 0;
}

.skip-link.bottom {
	bottom: 5vh;
	position: fixed;
	right: 5vw;
	transform: translate3d(0, 300px, 0);
}

.icon.chevron-up,
.icon.chevron-down {
	background: none;
	fill: var(--clr-font-primary);
	transition: fill var(--skip-link-timing);
	z-index: 1; }
	.skip-link:hover .icon.chevron-up,
	.skip-link:hover .icon.chevron-down {
		fill: var(--clr-font-alternative); }

.skip-link.top:hover .icon.chevron-down {
	animation: down-back 0.60s var(--skip-link-timing);
}

.skip-link.bottom:hover .icon.chevron-up {
	animation: up-back 0.60s var(--skip-link-timing);
}

.page-header {
	min-height: 100vh;
	padding: var(--space3) 0 0;
}

.logo__container {
	animation: fade-in-up 1s 0.5s var(--page-load-timing) forwards;
	display: block;
	width: 15.625rem;
	opacity: 0; }

.logo {
	fill: var(--clr-font-alternative);
}

.nav {
	animation: fade-in-up 1s 0.75s var(--page-load-timing) forwards;
	opacity: 0;
}

.nav__link {
	color: var(--clr-font-alternative);
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}

.nav__link:first-of-type {
	margin-right: var(--space4);
}

.nav__link::after {
	background-color: currentColor;
	content: "";
	left: 0;
	height: 2px;
	position: absolute;
	transform: scale3d(0, 0, 0);
	transition: transform 0.25s var(--nav-link-timing);
	top: calc(1.333rem + 2px);
	width: calc(100% - 0.2rem) }
	.nav__link:hover::after {
		transform: scale3d(1, 1, 1); }

.intro {
	animation: fade-in-up 1s 1s var(--page-load-timing) forwards;
	color: var(--clr-font-alternative);
	font-size: calc(1rem + 7vw);
	height: 80vh;
	margin: 0;
	opacity: 0;
	text-align: center; }
	@supports (font-size: clamp(3.157rem, 1rem + 7vw, 7.478rem)) {
		.intro {
			font-size: clamp(3.157rem, 1rem + 7vw, 7.478rem); } }

/* Utility Classes */
.container {
	margin: 0 auto; 
	max-width: 85rem;
	min-width: 320px;
	width: 90vw; 
}

.paused {
	animation-play-state: paused !important;
}

.slide-in {
	animation: slide-in 0.6s cubic-bezier(0.230, 1, 0.32, 1) forwards;
}

.slide-out {
	animation: slide-out 0.45s cubic-bezier(0.755, 0.05, 0.855, 0.06) forwards;
}

.sr-only {
	border: 0;
	clip: rect(0,0,0,0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Support for those with Vestibular disorders */
@media all and (prefers-reduced-motion: reduce) {
	#homepage::before,
	.skip-link.top,
	.logo__container,
	.nav,
	.intro {
		animation-name: fade-in;
	}

	.skip-link.top,
	.logo__container,
	.nav,
	.intro {
		animation-delay: 1s;
	}

	.skip-link.top:hover .icon.chevron-down,
	.skip-link.bottom:hover .icon.chevron-up {
		animation-name: none;
	}
}

/* TODO: Remove testing block styles */
.test::after {
	content: "";
	display: block;
	height: 300vh;
	width: 100vw;
}