/* Defines all article styles and the styles of the elements contained within */
.article-title {
	font-size: var(--preferred);
	margin: var(--space-6) 0 var(--space-4) 0;
	text-align: center; }
	@supports (clamp(1rem, 1rem + 1vw, 1rem)) {
		.intro {
			font-size: clamp(3.157rem, var(--preferred), 7.478rem); } }

.article .metadata {
	margin: var(--space-5) 0 var(--space-4);
}

.article .metadata::after {
	background-color: var(--clr-black);
	content: "";
	height: 1px;
	margin-top: var(--space-3);
	margin-top: var(--space-2);
	width: 100%;
}

.article .author-avatar {
	height: 64px;
	margin-right: var(--space-1);
	width: 64px;
}

.article-title,
.hero-image {
	animation: fade-in-up 1s 1s var(--timing-page-load) forwards;
	opacity: 0;
}

.article .date {
	flex-grow: 2;
	text-align: right;
}

.article p:first-of-type::first-letter {
	float: left;
	font-size: 6rem;
	line-height: 0.65;
	margin: 0.1em 0.1em 0.2em 0;
}

.article h2 {
	text-align: center;
}

.article p {
	margin: 0 auto;
}