/* Defines all article styles and the styles of the elements contained within */
.article-title {
	font-size: var(--preferred);
	margin: var(--space-6) 0 var(--space-4) 0;
	text-align: center; }
	@supports (clamp(1rem, 1rem + 1vw, 1rem)) {
		.intro {
			font-size: clamp(3.157rem, var(--preferred), 7.478rem); } }

.article .metadata {
	margin: var(--space-5) 0 var(--space-4);
}

.article .metadata::after {
	background-color: var(--clr-black);
	content: "";
	height: 1px;
	margin-top: var(--space-2);
	width: 100%;
}

.article .author-avatar {
	height: 64px;
	margin-right: var(--space-1);
	width: 64px;
}

.article-title,
.hero-image {
	animation: fade-in-up 1s 1s var(--timing-page-load) forwards;
	opacity: 0;
}

.article .date {
	flex-grow: 2;
	text-align: right;
}

.article p:first-of-type::first-letter {
	float: left;
	font-size: 4rem;
	font-weight: 600;
	line-height: 0.5;
	margin: 0.6rem 0.4rem 0 0; }
		@media all and (min-width: 760px) {
		.article p:first-of-type::first-letter {
			font-size: 5rem; } }

.article h2 {
	text-align: center;
}

.article p {
	margin: 0 auto;
}

.breadcrumbs {
	margin: var(--space-6) auto;
}

.breadcrumb {
	border-bottom: 1px solid var(--clr-grey);
	border-top: 1px solid var(--clr-grey);
	color: var(--clr-black);
	margin-bottom: var(--space-2);
	padding: var(--space-6) 0;
	transition: all 0.25s ease-in-out; }
	@media all and (min-width: 650px) {
		.breadcrumb {
			margin-bottom: 0; } }

.breadcrumb:hover {
	border-color: var(--clr-grey-light);
}

.breadcrumb:last-of-type {
	margin-bottom: 0;
}

.breadcrumb-icon {
	transition: all 0.25s ease-in-out;
}

.breadcrumb-type {
	font-family: var(--font-secondary);
	font-weight: 600;
	letter-spacing: 0.025em;
	text-transform: uppercase; }
	@supports (font-size: clamp(1rem, 1rem + 7vw, 1rem)) {
		.breadcrumb-type {
			font-size: var(--step-0); } }

@supports (font-size: clamp(1rem, 1rem + 7vw, 1rem)) {
	.breadcrumb-title {
		font-size: var(--step-1); } }

.breadcrumb-type,
.breadcrumb-title {
	text-align: center;
	transition: all 0.25s ease-in-out; }
	@media all and (min-width: 700px) {
		.breadcrumb--previous .breadcrumb-type,
		.breadcrumb--previous .breadcrumb-title {
			text-align: left; }

		.breadcrumb--next .breadcrumb-type,
		.breadcrumb--next .breadcrumb-title {
			text-align: right; } }

.breadcrumb:hover.breadcrumb--previous .breadcrumb-icon,
.breadcrumb:hover.breadcrumb--next .breadcrumb-type,
.breadcrumb:hover.breadcrumb--next .breadcrumb-title {
	transform: translate3d(-0.5rem, 0, 1px);
}

.breadcrumb:hover.breadcrumb--next .breadcrumb-icon,
.breadcrumb:hover.breadcrumb--previous .breadcrumb-type,
.breadcrumb:hover.breadcrumb--previous .breadcrumb-title {
	transform: translate3d(0.5rem, 0, 1px);
}