/* Defines all card styles and the styles of the elements contained within */
@media all and (min-width: 1000px) {
	.card {
		height: 80vh; }
}

.card-deck {
	background-color: var(--clr-white);
}

.card-title {
	font-size: var(--preferred); }
	@supports (font-size: clamp(1rem, 1rem + 7vw, 1rem)) {
		.card-title {
			font-size: var(--step-3); } }

.card-teaser {
	margin-top: 1rem;
}

.card-cta {
	position: relative;
}

.card-cta .button-content {	
	display: inline-block;
	transition: all 0.45s var(--timing-button);
	/* FIX - Firefox Bug 739176 - No sub-pixel rendering while transitioning translate transforms.
	Bug causes jerky transition on the button's translate.
	See https://bugzilla.mozilla.org/show_bug.cgi?id=739176 for further info. */
	filter: blur(0px);
	transform: translate3d(0, 0, 0);
}

.card-cta:hover .button-content {
	transform: translate3d(-0.25rem, 0, 1px);
}

.card-cta .button-icon {
	line-height: var(--line-height);
	margin-top: -0.06rem;
	opacity: 0;
	position: absolute;
	transform: translate3d(-0.25rem, 0, 1px);
	transition: all 0.45s var(--timing-button);
}

.card-cta:hover .button-icon {
	opacity: 1;
	transform: translate3d(0.25rem, 0, 1px);
}

.article-stats {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	list-style: none;
	margin: 0 0 var(--space-5);
}

.stat {
	margin-right: var(--space-4);
	font-variant-numeric: lining-nums; }
	.stat:last-child {
		margin-right: 0; }

.stat .far {
	color: var(--clr-gold);
}

.card-thumbnail {
	overflow: hidden;
}

.card-image {
	height: 100%;
	object-fit: cover;
	transform: scale3d(1.04, 1.04, 1);
	transition: 1s cubic-bezier(0.17, 0.59, 0.05, 0.96);
}

.card-thumbnail:hover .card-image {
	transform: scale3d(1.01, 1.01, 1);
}