/* Defines all header styles and the styles of the elements contained within */
.header {
	padding-top: var(--space-2);
}

.header--homepage {
	min-height: 100vh;
	padding-top: var(--space-4);
}

.header--article {
	background-color: var(--clr-white);
	overflow: hidden;
}

.logo {
	animation: fade-in-up 1s 0.5s var(--timing-page-load) forwards;
	display: block;
	width: 16.875rem;
	max-width: 300px;
	min-width: 250px;
	opacity: 0;
}

.logo-mark {
	fill: var(--clr-black);
}

.logo--homepage .logo-mark {
	fill: var(--clr-white);
}

.nav {
	animation: fade-in-up 1s 0.75s var(--timing-page-load) forwards;
	opacity: 0;
}

.nav * {
	margin-right: var(--space-4);
}

.nav *:last-child {
	margin-right: 0;
}

.nav-link {
	color: var(--clr-black);
	font-family: var(--font-tertiary);
	font-weight: 500;
	letter-spacing: 0.2rem;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}

.header--homepage .nav-link {
	color: var(--clr-white);
}

.nav-link::after {
	background-color: currentColor;
	content: "";
	left: 0;
	height: 2px;
	position: absolute;
	transform: scale3d(0, 0, 0);
	transition: transform 0.25s var(--timing-nav-link);
	top: 1.5rem;
	width: calc(100% - 0.2rem) }
	.nav-link:hover::after {
		transform: scale3d(1, 1, 1); }

.intro {
	animation: fade-in-up 1s 1s var(--timing-page-load) forwards;
	color: var(--clr-white);
	font-size: var(--preferred);
	font-weight: 700;
	height: 80vh;
	margin: 0;
	opacity: 0;
	text-align: center; }
	@supports (clamp(1rem, 1rem + 1vw, 1rem)) {
		.intro {
			font-size: clamp(3.157rem, var(--preferred), 7.478rem); } }